body{
    margin-bottom: -8px;
    min-height: 100%;
    background: #464646 url('../img/bg-carbid-festival.png');
}

#pagecenter{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
}
#top{
    margin-left: -8px;
    margin-right: -8px;
    background: url('../img/header-carbid-festival.jpg') repeat-x center top;
    height: 200px;
}

.facebook img{
    height: 50px;
    width: auto; 
    float: left;
    margin-right: 10px;
}

.facebook{
    font-size: 15px;
}

#top #pagecenter .sitelogo{
	margin-top: 22px;
	float: right;
}
#top #pagecenter .sitetitle{
    padding-top: 120px;
}

#top #pagecenter .sitetitle h1{
	font-size: 45px;
    font-family: 'Conv_StencilStd', 'Stencil Std', sans-serif;
    text-shadow: 0px 0px 5px #FFFFFF;
}

.dropdown-login{
    padding: 10px;
}

.dropdown-login input, .dropdown-logout button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-logout {
    margin-left: 10px;
    margin-right: 10px;
}

/* Article styling */
.article{
	background-color: white;
}
/* Mobile and tablet */


.sponsorlist p {
	float: left;
	width: 340px;
	height: 180px;
	line-height: 180px;
	text-align: center;
}
.sponsorlist p:nth-child(odd) {
	border-right: 1px solid #999;
	margin-right: -1px;
}
.sponsorlist p:nth-child(even) {
	border-left: 1px solid #999;
}
.sponsorlist p a {
	display: block;
	width: 340px;
	height: 180px;
	line-height: 180px;
	text-align: center;
}
.sponsorlist p img {
	max-width: 300px;
	max-height: 140px;
	vertical-align: middle;
}
.sponsorlist:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1000px) {
    #top #pagecenter .sitelogo{
    	display: none;
    }
}